<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments :: head"></div>
<body>
<div th:replace="fragments :: navigation-admin"></div>

<div class="container" id="main">

    <div class="d-flex justify-content-between my-3">
        <h3>Tickets - <span th:text="${tickets.size()}"></span></h3>
        <a href="/admin/reservations" class="btn btn-secondary shadow align-self-center"><- Back To Reservations</a>
    </div>

    <table id="table" class="table table-hover shadow" style="width:100%">
        <thead class=" bg-primary text-white">
        <tr>
            <th>Id</th>
            <th>Reservation</th>
            <th>Seat</th>
            <th>Row</th>
            <th>Number</th>
            <th>Showing</th>
            <th>Date</th>
            <th>Time</th>
            <th>Price</th>
            <th>Payed</th>
            <th style="width: 80px;">Actions</th>
        </tr>
        </thead>
        <tbody class="bg-white">
        <th:block th:each="ticket : ${tickets}">

            <tr>
                <td th:text="${ticket.id}" class="align-middle"></td>
                <td th:text="${reservation.id}" class="align-middle"></td>
                <td th:text="${ticket.seat.id}" class="align-middle"></td>
                <td th:text="${ticket.seat.row}" class="align-middle"></td>
                <td th:text="${ticket.seat.number}" class="align-middle"></td>
                <td th:text="${ticket.showing.id}" class="align-middle"></td>
                <td th:text="${ticket.showing.date}" class="align-middle"></td>
                <td th:text="${ticket.showing.time}" class="align-middle"></td>
                <td th:text="${reservation.totalPrice / tickets.size()}" class="align-middle"></td>
                <td th:text="${reservation.isPayed() ? 'Yes' : 'No'}" class="align-middle"></td>
                <td class="d-flex justify-content-between">
                    <button type="button" th:data-id="${ticket.id}" th:data-res="${reservation.id}" th:disabled="${reservation.isPayed()}" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger">Delete</button>
                </td>
            </tr>

        </th:block>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLongTitle">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete selected ticket?
                </div>
                <div class="modal-footer">
                    <a id="delete" class="btn btn-danger">Delete</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments :: footer"></div>

<div th:replace="fragments :: scripts"></div>

<th:block>
    <script>
        $(document).ready(function () {
            $('#table').DataTable();

            $('#deleteModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)
                var id = button.data('id')
                var res = button.data('res')
                var modal = $(this)

                modal.find('.modal-footer a').attr("href", "/admin/reservations/" +res + "/tickets/delete/" + id)
            });
        });
    </script>
</th:block>

<th:block th:if="${isDeleted}">
    <script>toastr.success("Ticket deleted successfully");</script>
</th:block>

</body>
</html>