<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments :: head"></div>
<body>
<div th:replace="fragments :: navigation"></div>

<div class="container" id="main">

    <div class="col-12 col-lg-8 mx-auto">
        <div class="d-flex justify-content-between my-3">
            <h3>Showings</h3>
        </div>

        <form th:action="@{showings/search}" method="POST" th:object="${search}">
            <div class="form-group">
                <label for="cinema">Cinema</label>
                <select th:field="*{cinemaId}" class="form-control" name="cinemaId" id="cinema" required>
                    <th:block th:each="cinema : ${cinemas}">
                        <option th:value="${cinema.id}" th:text="${cinema.name}"></option>
                    </th:block>
                </select>
            </div>

            <div class="form-group">
                <label for="date">Movie</label>
                <select th:field="*{movieId}" class="form-control" name="movieId" id="movie" required>
                    <th:block th:each="movie : ${movies}">
                        <option th:value="${movie.id}" th:text="${movie.title}"></option>
                    </th:block>
                </select>
            </div>

            <div class="form-group">
                <label for="date">Date</label>
                <input th:field="*{date}" type="date" name="date" id="date" class="form-control" th:min="${minDate}" required>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block btn-lg shadow">SEARCH</button>
            </div>
        </form>

        <div class="card-deck">
            <th:block th:each="showing: ${showings}">
                <div class="col-12 col-md-2 col-lg-4 col-xl-4 mx-auto my-5 my-sm-3 my-lg-4 px-xl-3">
                    <div class="card border-0 shadow">
                        <div class="card-header text-white bg-dark">
                            <h6 th:text="${showing.movie.title}" class="m-0"></h6>
                        </div>
                        <div class="card-body py-2">
                            <div class="card-text"><span th:text="${showing.hall.cinema.name}"></span></div>
                            <div class="card-text"><span th:text="${showing.date}"></span> - <span th:text="${showing.time}" class="font-weight-bold text-success"></span></div>
                            <div class="card-text"><span th:text="${showing.type.name}"></span></div>
                            <a th:href="@{/showings/{id}/reservations/create (id=${showing.id})}" class="btn btn-primary btn-block my-2 shadow">Tickets</a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>

        <th:block th:if="${noShowings}">
            <h4 class="text-danger">No showings for selected cinema, movie and date.</h4>
        </th:block>

    </div>

</div>
<div th:replace="fragments :: footer"></div>

<div th:replace="fragments :: scripts"></div>
</body>
</html>