<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CineTickets</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/css/toastr.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <header th:fragment="navigation">

        <nav class="navbar navbar-expand-md navbar-dark bg-primary bg-danger">
            <div class="container">
                <a class="navbar-brand text-dark" href="/">CineTickets</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="/movies">Movies</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/cinemas">Cinemas</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/showings">Showings</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/clubs">Membership</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav">
                        <th:block sec:authorize="!isAuthenticated()">
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/register">Register</a>
                            </li>
                        </th:block>

                        <th:block sec:authorize="isAuthenticated()">
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin">Admin Panel</a>
                                </li>
                            </th:block>
                            <th:block sec:authorize="hasRole('ROLE_MANAGER')">
                                <li class="nav-item">
                                    <a class="nav-link" href="/manager">Manager Panel</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/showings">Showings</a>
                                </li>
                            </th:block>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Profile
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/profile/edit">Edit</a>
                                    <a class="dropdown-item" href="/profile/reservations">My Reservations</a>
                                    <a class="dropdown-item" href="/profile/clubs">My Memberships</a>
                                    <a class="dropdown-item" href="/logout">Logout</a>
                                </div>
                            </li>

                        </th:block>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <header th:fragment="navigation-admin">
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
            <div class="container">
                <a class="navbar-brand" href="/admin">AdminPanel</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/movies">Movies</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/admin/cinemas">Cinemas</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/admin/halls">Halls</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/admin/showings">Showings</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/admin/users">Users</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/admin/reservations">Reservations</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Website</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Profile
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/profile/edit">Edit</a>
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <footer th:fragment="footer" class="footer text-white">
        <div class="container">
            <div class="col-8 mx-auto">
                <div class="row nav-footer justify-content-start mt-2">
                    <div class="col">
                        <ul>
                            <li><a href="/movies">Movies</a></li>
                            <li><a href="/cinemas">Cinemas</a></li>
                            <li><a href="/showings">Showings</a></li>
                            <li><a href="/clubs">Memberships</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
                            <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
                            <li><a href="https://www.twitter.com" target="_blank">Twitter</a></li>
                            <li><a href="https://www.youtube.com" target="_blank">Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div th:fragment="scripts">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.dataTables.min.js"></script>
        <script src="/js/dataTables.bootstrap4.min.js"></script>
        <script src="/js/toastr.js"></script>
    </div>
</body>
</html>