body {
    background-color: #ececec;
}

html, body {
    height: 100%;
}

#main {
    min-height: 92%;
    overflow: auto;
    padding-bottom: 180px;
}

.carousel-img {
    height: 300px;
}

.seat {
    float: left;
    display: block;
    margin: 5px;
    width: 20px;
    height: 25px;
    cursor: pointer;
}

.seatFree {
    background: #4caf50;
}

.seatReserved {
    background: #d00000;
    cursor: default;
}

.seat-select {
    display: none;
}

.seat-select:checked + .seat {
    background: #eaa513;
}

.seats20 {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

.seats10 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.seat-row {
    padding-bottom: 13px;
}

.seat-row:first-child {
    margin-top: 6px;
}

.image-card-cinema {
    display: inline-block;
    height: 180px;
    width: auto;
}

.image-cinema-details {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.form-control {
    color: #212529;
}

.carousel-item {
    position: relative !important;
}

.black-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.social {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 25px;
}

.social-links a {
    text-decoration: none;
    color: white;
}

.social-facebook {
    background-color: #1877f2;
}

.social-facebook:hover {
    background-color: #0c52ad;
}

.social-instagram {
    background-color: #c32aa3;
}

.social-instagram:hover {
    background-color: #8d1574;
}

.social-twitter {
    background-color: #1da1f2;
}

.social-twitter:hover {
    background-color: #187cb4;
}

.footer {
    position: relative;
    margin-top: -162px;
    height: 388px;
    clear: both;
    padding-top: 20px;
    background-color: #626262;
    font-size: 16px;
}

.nav-footer li {
    list-style: none;
    text-decoration: none;
}

.nav-footer a {
    text-decoration: none;
    color: white;
}

.nav-footer a:hover {
    color: #18bc9c;
}

.cont {
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    background-color: white;
    width: 100%;
    border-radius: 0.5rem;
    font-size: 20px;
}

.screen {
    width: 100%;
    border: 2px solid #18bc9c;
    height: 50px;
    text-align: center;
    background-color: white;
    font-size: 20px;
    padding: 10px 0;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

.movie-img {
    height: 250px !important;
}

.club {
    height: 100% !important;
}

.club-img {
    height: 200px !important;
}

.hall {
    position: relative;
    overflow: auto;
}

@media (min-width: 1200px) {
    .carousel-img {
        height: 600px;
    }

    .movie-img {
        height: 100% !important;
    }

    .club {
        height: 260px !important;
    }

    .club-img {
        height: 260px !important;
    }

    .footer {
        height: 170px;
    }
}